{% extends "base.html.twig" %}

{% block body %}
<p>Ce projet web a été réalisé avec HTML 5 et Bootstrap 4 <br>
        Nous avons réalisé en cours une API REST Full avec Symfony pour la partie back end de l'application.<br>
        La partie front end a été réalisée avec HTML 5 et TWIG. Nous appelons l'API en Ajax.<br>
        Nous avons utilisé les routes pour faire un moteur de template.<br>
</p>
{% endblock %}